
{{#if success_msg}}
    <div class="alert alert-success" role="alert" style="margin: 50px 0 ;">
        {{success_msg}}
    </div>
{{/if}}
{{#if failure_msg}}
    <div class="alert alert-danger" role="alert" style="margin: 50px 0 ;">
    {{failure_msg}}
    </div>
{{/if}}
